annotated-types==0.7.0
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
idna==3.11
itsdangerous==2.2.0
joblib==1.5.3
MarkupSafe==3.0.3
numpy==2.4.3
protobuf==5.29.6
psycopg2-binary==2.9.11
pyasn1==0.6.2
pycparser==3.0
pyparsing==3.3.2
python-dotenv==1.2.2
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
